<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Splurty</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>
  <body>
    <header class="row">
      <div class="col-3">
        <!-- Logo to link to root file -->
        <%= link_to root_path, class: 'logo' do %>
         <div class="circle">
          <br />
          You know
          <br />
          you need
          <br />
          to code
         </div>
        <% end %>
      </div>
      <div class="col-4 col-sm-4 hidden-xs-down slogan">
        Splurting out inspirational quotes.
      </div>
      <div class="col-10 offset-1 offset-sm-0 col-sm-5 links">
        <!-- Link to Pop up simple_form, modal -->
        <%= link_to 'Contribute', '#', data: {toggle: 'modal', target: '#myModal'} %>
        
        
        &nbsp;&nbsp;

        <!-- Link to About Page-->
        <%= link_to 'About', about_path %>

        &nbsp;&nbsp;

        <!-- Link to About Page-->
        <%= link_to 'Contact', contact_path %>

      </div>
    </header>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Contribute Your Quote</h4>
          </div>
          <div class="modal-body">
          <!-- Bootstrap capable form -->
            <!-- Create new quote from simple_form-->
          <%= simple_form_for Quote.new do |f| %>
              <!-- Take input for saying from user -->
              <%= f.input :saying, label: "What is the saying you want to add?", placeholder: "Fear is the disease. Hustle is the antidote." %>
              <br />
              <!-- Take input for author from user -->
              <%= f.input :author, label: "Who is the author of this quote?", placeholder: "Travis Kalanick" %>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <!-- Button to trigger Create  -->
              <%= f.submit 'Create', class: 'btn btn-danger' %>
            </div>
             <!-- Link to About Page-->
            <%= link_to 'Contact', contact_path %>
            <% end %>
        </div>
      </div>
    </div>

    <hr />

    <br class="clear">

    <div class="container">
      <!-- Validation checker on simple_form -->
        <% if flash[:error].present? %>
            <div class="col-10 offset-1 alert alert-danger">
            <%= flash[:error].html_safe %>
            </div>
          <% end %> 
      <%= yield %>
    </div>
    
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6">
            <!-- Trigger another quote to appear -->
            <%= link_to "Gimme another quote...please." , root_path, class: 'next-quote' %>
          </div>
          <div class="col-12 col-sm-6 footer-blurb">
            Proudly hacked in Indianpolis, IN by <a href="http://thefirehoseproject.com">Cory Hack</a><br />
            Want to build your own Splurty Web App - <a href="http://thefirehoseproject.com">Learn how to code here</a>
          </div>
        </div> 
      </div>
    </div>

  </body>
</html>
